
.btn {
    float: left;
    margin: 5px;
}

.card .card-body a {
    color: white;
}

.card {
    float: left;
    margin: 20px;
}
/* 
.gif h3 {
    background-color: purple;
} */

.container-fluid, #display {
    display: block;
    clear: left;
}


label {
    font-weight: bold;
}

h1 {
    text-align: center;
    margin-top: 50px;
}